---
stages:
  - lint
  - validate

lint-yaml:
  stage: lint
  image: python:3.10-slim
  script:
    - pip install yamllint
    - echo "Starting to lint docker-compose.yml file"
    - yamllint docker-compose.yml
    - echo "Starting to lint the .gtilab-ci.yml file"
    - yamllint .gtilab-ci.yml
    - echo "Starting to lint .golangci.yml file"
    - yamllint .golangci.yml

validate-compose:
  stage: validate
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker compose config -q
    - echo "Docker Compose file is valid!"
