---
include:
  - component: $CI_SERVER_FQDN/components/code-quality-oss/codequality-os-scanners-integration/golangci@1.0.1

stages:
  - lint
  - validate
  - test

variables:
  GOLANGCI_LINT_VERSION: "v2.10.1"
  GOPATH: $CI_PROJECT_DIR/.go
  GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.cache/golangci-lint

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .go/pkg/mod
    - .cache/golangci-lint

golangci-lint:
  stage: lint
  image: golangci/golangci-lint:${GOLANGCI_LINT_VERSION}
  script:
    - golangci-lint run ./... --output.code-climate.path=gl-code-quality-report.json
    - apk add --no-cache yamllint
    - yamllint docker-compose.yml .gitlab-ci.yml
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

validate-docker:
  stage: validate
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker compose config -q

test-go:
  stage: test
  image: golang:1.26-alpine
  variables:
    CGO_ENABLED: "1"
  script:
    - apk add --no-cache build-base
    - go fix ./...
    - go test -v -race -cover ./...
