---
include:
  - component: $CI_SERVER_FQDN/components/code-quality-oss/codequality-os-scanners-integration/golangci@1.0.1

stages:
  - lint
  - validate
  - test

golangci-lint:
  stage: lint
  image: golangci/golangci-lint:v2.10.1
  script:
    - golangci-lint run ./... --output.code-climate.path=gl-code-quality-report.json
  allow_failure: false
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .cache/golangci-lint

yaml-lint:
  stage: lint
  image: python:alpine
  script:
    - apk add --no-cache yamllint
    - yamllint docker-compose.yml .gitlab-ci.yml

validate-docker:
  stage: validate
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker compose config -q

test-go:
  stage: test
  image: golang:1.26-alpine
  variables:
    CGO_ENABLED: "1"
    GOPATH: $CI_PROJECT_DIR/.go
    GOMODCACHE: $CI_PROJECT_DIR/.go/pkg/mod
  script:
    - apk add --no-cache build-base
    - go mod tidy
    - go mod download
    - go fix ./...
    - go test -v -race -cover $(go list ./... | grep -vE 'ports|logging')
  cache:
    key:
      files:
        - go.sum
    paths:
      - .go/pkg/mod
