---
services:
  lgtm:
    image: grafana/otel-lgtm:0.19.0
    container_name: lgtm
    ports:
      - "4317:4317"
      - "4318:4318"
      - "3100:3100"
      - "3000:3000"
    volumes:
      - lgtm:/data
    environment:
    - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/grafana/
    - GF_SERVER_SERVE_FROM_SUB_PATH=true
    networks:
      - default
    restart: unless-stopped

  redis:
    image: redis:8.6.1-alpine
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    ports:
      - "6379:6379"
    volumes:
      - redis:/data
    networks:
      - default
    restart: unless-stopped

  redis-ui:
    image: redis/redisinsight:3.2
    ports:
      - "5540:5540"
    environment:
      RI_PROXY_PATH: "/redis"
    networks:
      - default
    restart: unless-stopped

  jmx-exporter-download:
    image: alpine:latest
    container_name: jmx-exporter-downloader
    command: >
      sh -c "apk add --no-cache wget &&
             mkdir -p /tmp/shared &&
             wget -O /tmp/shared/jmx_prometheus_javaagent.jar https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/0.20.0/jmx_prometheus_javaagent-0.20.0.jar &&
             echo 'lowercaseOutputName: true' > /tmp/shared/kafka-config.yaml &&
             echo 'Download complete'"
    volumes:
      - jmx_shared:/tmp/shared

  broker:
    image: apache/kafka:4.2.0
    container_name: broker
    depends_on:
      jmx-exporter-download:
        condition: service_completed_successfully
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_OPTS: "-javaagent:/usr/share/kafka/monitoring/jmx_prometheus_javaagent.jar=9101:/usr/share/kafka/monitoring/kafka-config.yaml"
    ports:
      - "9092:9092"
      - "9101:9101"
    volumes:
      - kafka:/var/lib/kafka/data
      - jmx_shared:/usr/share/kafka/monitoring
    networks:
      - default
    restart: unless-stopped

  kafka-ui:
    image: kafbat/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local-broker
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:9092
      KAFKA_CLUSTERS_0_METRICS_PORT: 9101
      KAFKA_CLUSTERS_0_METRICS_TYPE: JMX
      SERVER_SERVLET_CONTEXT_PATH: "/kafka"
    networks:
      - default

  postgres:
    image: postgres:17.3
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d myapp"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: myapp
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - default
    restart: unless-stopped

  nginx:
    image: nginx:1.28.2-alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    extra_hosts:
      - "host.docker.internal:host-gateway" # Maps host IP to this hostname
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - redis-ui
      - kafka-ui
      - lgtm
    networks:
      - default
    restart: unless-stopped

volumes:
  lgtm:
  redis:
  kafka:
  postgres:
  jmx_shared:

networks:
  default:
    driver: bridge
