---
http:
  business_addr: ":8080"
  management_addr: ":2112"
  gracefull_shutdown_duration: 5s

database:
  postgres:
    MaxIdleConns: 10
    MaxOpenConns: 100
    ConnMaxLifetime: 1
    ConnMaxIdleTime: 30
  gormLogger:
    SlowThreshold: 1s # e.g. "200ms", "1s", "2m"
    LogLevel: "Info"
    IgnoreRecordNotFoundError: false
    Colorful: true

tracing:
  otel_enabed: true

logging:
  level: debug
  adapter: "multi" # e.g. stdout, loki or multi.
  loki:
    url: "http://localhost:3100/loki/api/v1/push"
    labels:
      container: "api-service"
      stack: "monitoring"
      env: "development"

broker:
  kafka:
    brokers: ["localhost:9092"]
    topic: "UserNotification"

    reliability:
      maxAttempts: 10
      requiredAcks: -1
      writeTimeout: 10s
      readTimeout: 10s

    performance:
      batchSize: 100
      batchTimeout: 1s
      batchBytes: 1048576 # 1MB in bytes for int64
      writeBackoffMin: 100ms
      compression: "snappy"

cache:
  redis:
    host: "localhost"
    port: 6379
    DB: 0
